# -------------------------------------------------------------------------------------------------
# This GitHub Actions workflow checks for leaked credentials.
#
# This file has been initially created for https://github.com/politician/template-repo
#
# Copyright 2022 Romain Barissat. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -------------------------------------------------------------------------------------------------
---
name: leaked-secrets

permissions:
  contents: read

on:
  pull_request:
  workflow_dispatch:
  push:

jobs:
  scan:
    name: Scan for leaked secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: TruffleHog OSS
        # There is no need to pin the action to a commit SHA as long as:
        # - The action is in the same repo as TruffleHog
        # - The image used in the action is 'latest' and is not configurable
        #
        # => If a malicious commit is introduced in the repo, both the action
        # and the image would be compromised.
        uses: trufflesecurity/trufflehog@v3.16.0
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
